body {
  padding: 0;
  margin: 0;
  font-family: Inter;
  display: grid;
}
.headerMain {
  border-bottom: 1px solid rgba(198, 210, 255, 0.3);
  /* background: red; */
  padding: 10px 0 10px 0;
}
.container {
  max-width: 1280px;
  justify-self: center;
  padding: 0 20px 0 20px;
}
header {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 6fr 1fr;
  align-items: center;
}
header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  justify-content: center;
  gap: 24px;
  font-weight: 500;
}
.dropdown {
  display: flex;
  align-items: center;
  gap: 4px;
}
header .hamburger {
  display: none;
}
.header-button {
  background: linear-gradient(90deg, #000000 0%, #404040 100%);
  color: white;
  font-weight: 500;
  border-radius: 60px;
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 5px 13px 5px 12px;
  justify-self: end;
  gap: 3px;
}

/* hero section  */
.hero {
  /* background: red; */
  width: 100%;
  display: grid;
  justify-items: center;
  margin-top: 120px;
  padding: 0;
}
.hero .first,
.hero .second {
  font-size: 60px;
  font-weight: 700;
  margin: 30px 0 0 0;
  padding: 0;
}
.hero p {
  font-weight: 400;
  font-size: 17.6px;
  text-align: center;
}

.hero .second {
  color: rgba(116, 1, 211, 1);
  margin: 0;
}
.hero button {
  background: linear-gradient(315deg, #3a3a3a 0%, #060606 100%);
  display: flex;
  align-items: center;
  gap: 3px;
  color: white;
  padding: 8px 13px 8px 12px;
  border-radius: 60px;
  margin-top: 7px;
}
.search {
  border: 6px solid rgba(251, 248, 255, 1);
  /* background: red; */
  width: 120%;
  margin-top: 110px;
  padding: 20px 20px 8px 20px;
  margin-bottom: 110px;
}
.search h2 {
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  padding: 0;
}
.search .tabs {
  display: flex;
  column-gap: 10px;
  row-gap: 0px;
  margin: 0;
  padding: 0;
  align-items: center;
  flex-wrap: wrap;
}
.tabs .title {
  font-weight: bold;
  font-size: 16px;
  width: fit-content;
}
.tabs .tab {
  background: rgba(249, 249, 249, 1);
  padding: 8px 13px 8px 13px;
  border-radius: 60px;
  border: 1px solid rgba(238, 238, 238, 1);
  font-size: 14px;
  width: fit-content;
  margin: 3px;
}

@media all and (max-width: 1300px) {
  .container {
    width: 96%;
  }
  header {
    grid-template-columns: 1fr 4fr 1fr;
  }
  .search {
    width: 90%;
  }
}

@media all and (max-width: 850px) {
  .container {
    width: 94%;
    /* background: red; */
    padding: 0;
  }
  header {
    display: flex;
    /* width: 90%; */
    justify-content: space-between;
  }
  header .hamburger {
    display: block;
  }
  header ul,
  .header-button {
    display: none;
  }
  .hero {
    margin-top: 70px;
  }
  .hero p {
    /* background: yellow; */
    width: 90%;
    font-size: 15.6px;
    justify-self: center;
  }
  .hero .first {
    font-size: 40px;
  }
  .hero .second {
    font-size: 32px;
  }
}
