html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter;
  /* display: grid; */
  width: 100%;
  overflow-x: hidden;
  background: white;
}

.headerMain {
  border-bottom: 1px solid rgba(198, 210, 255, 0.3);
  /* background: red; */
  padding: 10px 0 10px 0;
}
.container {
  max-width: 1280px;
  justify-self: center;
  padding: 0 20px 0 20px;
}
header {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 6fr 1fr;
  align-items: center;
}
header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  justify-content: center;
  gap: 32px;
  font-weight: 500;
}
.dropdown {
  display: flex;
  align-items: center;
  gap: 4px;
}
header .hamburger {
  display: none;
}
.header-button {
  background: linear-gradient(90deg, #000000 0%, #404040 100%);
  color: white;
  font-weight: 500;
  border-radius: 60px;
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 5px 13px 5px 12px;
  justify-self: end;
  gap: 3px;
}

/* hero section  */
.hero {
  /* background: red; */
  width: 100%;
  display: grid;
  justify-items: center;
  margin-top: 100px;
  padding: 0;
}
.hero .first,
.hero .second {
  font-size: 60px;
  font-weight: 700;
  margin: 32px 0 0 0;
  padding: 0;
  text-align: center;
}
.hero p {
  font-weight: 400;
  font-size: 17.6px;
  text-align: center;
  margin-top: 26px 0 0 0;
}

.hero .second {
  color: rgba(116, 1, 211, 1);
  margin: 0;
}
.hero button {
  background: linear-gradient(315deg, #3a3a3a 0%, #060606 100%);
  display: flex;
  align-items: center;
  gap: 3px;
  color: white;
  padding: 8px 13px 8px 12px;
  border-radius: 60px;
  margin-top: 26px;
}
.search {
  border: 6px solid rgba(251, 248, 255, 1);
  /* background: red; */
  width: 120%;
  margin-top: 100px;
  padding: 20px 20px 8px 20px;
  margin-bottom: 100px;
}
.search h2 {
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  padding: 0;
}
.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  /* background: red; */
  margin: 20px 0 20px 0;
}

.search-icon {
  position: absolute;
  left: 10px;
}

.search-input {
  background: rgba(244, 248, 251, 1);
  border: 1px solid rgba(238, 238, 238, 1);
  padding: 8px 13px 8px 12px;
  border-radius: 60px;
  font-size: 16px;
  width: 82%;
  padding-left: 42px;
}
.search-wrapper button {
  margin: 0 0 0 20px;
  justify-self: start;
}

.search .tabs {
  display: flex;
  column-gap: 10px;
  row-gap: 0px;
  margin: 0;
  padding: 0;
  align-items: center;
  flex-wrap: wrap;
}
.tabs .title {
  font-weight: bold;
  font-size: 16px;
  width: fit-content;
}
.tabs .tab {
  background: rgba(249, 249, 249, 1);
  padding: 8px 13px 8px 13px;
  border-radius: 60px;
  border: 1px solid rgba(238, 238, 238, 1);
  font-size: 14px;
  width: fit-content;
  margin: 3px;
}

/* Courses section  */
.course {
  margin-bottom: 130px;
}
.course h1,
.course p {
  text-align: center;
  margin: 0;
  padding: 0;
}
.course p {
  margin: 16px 0 0 0;
}
.course .container {
  justify-self: center;
  width: 100%;
  box-sizing: border-box;
}
.courseTabs {
  display: flex;
  justify-self: center;
  gap: 8px;
  width: 100%;
  margin: 73px 0 50px 0;
}

.courseCards {
  /* background: red; */
  display: flex;
  justify-content: space-between;
  gap: 10px;
  overflow-x: scroll;
  width: 100%;
}
.courseCards::-webkit-scrollbar {
  display: none;
}
.courseCards {
  scrollbar-width: none;
}

.courseTabs p {
  text-align: center;
  background: rgba(249, 249, 249, 1);
  padding: 8px 13px 8px 13px;
  border-radius: 60px;
  border: 1px solid rgba(238, 238, 238, 1);
  font-size: 14px;
  width: fit-content;
  margin: 3px;
  flex-shrink: 0;
}
.courseTabs .active {
  color: white;
  background: black;
}

.card {
  border-radius: 12px;
  border: 1px solid rgba(229, 229, 229, 1);
  flex-shrink: 0;
  width: 25vw;
}
.card .img1 {
  border-radius: 12px 12px 0 0;
  width: 100%;
}
.card-info {
  display: flex;
  align-items: center;
  gap: 6px;
  /* background: green; */
  margin: 15px 0 0 16px;
}
.card-info p {
  margin: 0;
  padding: 0;
}
.card .category {
  padding: 7px 12px 7px 12px;
  border-radius: 60px;
  background: rgba(243, 244, 246, 1);
  margin-left: 16px;
  width: fit-content;
}
.course-title {
  font-size: 16px;
  font-weight: 600;
  margin-left: 16px;
}
.course-info {
  color: rgba(75, 85, 99, 1);
  font-size: 14px;
  font-weight: 400;
  margin-left: 16px;
  text-align: left;
}

/* Who we serve  */
.serve-container {
  margin-top: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.serve-container h1 {
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  margin: 0;
  padding: 0;
}
.serve-container p {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin: 16px 0 0 0;
  padding: 0;
}
.serve-container img {
  width: 100%;
  margin: 100px 0 100px 0;
}
.serve-container .second {
  display: none;
}

/* Testimonials section  */
.testimonials {
  margin: 100px 0 200px 0;
  width: 100%;
  /* background: green; */
}
.testimonials p,
.testimonials h1 {
  text-align: center;
}
.testimonials h1 {
  font-size: 40px;
  font-weight: 700;
}
.testimonials p {
  font-size: 20px;
  font-weight: 400;
}
.reviews {
  height: 740px;
  /* background: red; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 24px;
  overflow-y: scroll;
  /* fade-blur top & bottom */
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 40%,
    black 60%,
    transparent 100%
  );

  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 40%,
    black 60%,
    transparent 100%
  );
  margin: 60px 0 0 0;
}
.reviews::-webkit-scrollbar {
  display: none;
}
.reviews {
  scrollbar-width: none;
}
.review,
.review1 {
  width: 400px;
  height: 238px;
  /* background: yellow; */
  box-shadow: 0px 7px 14px 0px rgba(234, 234, 234, 1);
  border-radius: 24px;
  padding: 41px;
  box-sizing: border-box;
}
.review1 {
  margin-top: 60px;
}
.review p,
.review1 p {
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 15.6;
  text-align: start;
}
.profile-div {
  display: flex;
  align-items: center;
  gap: 8px;
}
.profile-div .content p {
  margin: 0;
  padding: 0;
}
.profile-div .content .p1 {
  font-weight: 500;
}

/* Payment plans section  */
.plans {
  margin-top: 100px;
  width: 100%;
  /* background: green; */
  display: grid;
}
.plans h1,
.plans p {
  margin: 0;
  padding: 0;
  text-align: center;
}
.plans p {
  margin: 16px 0 0 0;
  font-size: 20px;
  font-weight: 400;
}
.plans h1 {
  font-size: 40px;
  font-weight: 600;
}
.payments {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  align-items: end;
  width: 100%;
  justify-self: center;
}
.plan {
  /* height: 30vh; */
  /* background: yellow; */
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0);
  border: 1px solid rgba(241, 241, 241, 1);
  box-shadow: 0px 7px 14px 0px rgba(234, 234, 234, 1);
  padding: 41px 41px 41px 41px;
  margin-bottom: 24px;
}
.plan1 {
  /* height: 40vh; */
  /* background: green; */
}
.plan h2 {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
  font-size: 17.7px;
  margin: 0 0 30px 0;
  padding: 0;
}
.price {
  display: flex;
  gap: 9px;
  align-items: center;
  margin: 0 0 30px 0;
  padding: 0;
}
.price .p1 {
  font-size: 32.1px;
  font-weight: 700;
  margin: 0 0 0 0;
  padding: 0;
}
.price .p2 {
  font-size: 16.1px;
  font-weight: 700;
  margin: 0 0 0 0;
  padding: 0;
}
.plan button {
  background: black;
  color: white;
  font-size: 15.6px;
  border-radius: 8px;
  padding: 7.5px 48.34px 8.5px 47.66px;
  margin: 0 0 10px 0;
}
.plan-info {
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin-top: 22px;
}
.plan-info p,
.plan-info img {
  margin: 0;
  padding: 0;
}
.plan-info p {
  font-size: 13.7px;
  text-align: start;
}
.plan-info img {
  width: 24px;
}
.payments > .plan:nth-child(2) {
  background: black;
  color: white;
}
.payments > .plan:nth-child(2) button {
  color: black;
  background: white;

  padding: 7.5px 68.38px 8.5px 70.62px;
}
.payments > .plan:nth-child(3) button {
  padding: 7.5px 64.67px 8.5px 65.33px;
}
.plan-title {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: space-between;
  gap: 38px;
}
.plan-title h2 {
  margin: 0;
}

/* transfrom learning  */
.transform {
  background: linear-gradient(135deg, #9333ea 0%, #4338ca 100%);
  /* height: 40vh; */
  margin-top: 76px;
  padding: 123px 0 123px 0;
  display: grid;
  justify-items: center;
}
.transform div {
  /* background: yellow; */
  /* width: 60%; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.transform h1 {
  font-weight: 700;
  font-size: 48px;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
}
.transform p {
  font-weight: 400;
  font-size: 20px;
  color: rgba(243, 232, 255, 1);
  margin: 24px 0 32px 0;
  padding: 0;
  text-align: center;
}
.transform button {
  background: linear-gradient(315deg, #3a3a3a 0%, #060606 100%);
  display: flex;
  align-items: center;
  gap: 3px;
  color: white;
  padding: 8px 13px 8px 12px;
  border-radius: 60px;
  /* margin-top: 26px; */
}
footer {
  background: black;
}
.footer {
  display: grid;
  grid-template-columns: 2fr 9fr;
  align-items: center;
  color: white;
  padding: 24px 0 24px 0;
}
.footer-menu {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 24px;
  justify-self: end;
}
.footer .p2 {
  display: none;
}

@media all and (max-width: 1300px) {
  header {
    grid-template-columns: 1fr 4fr 1fr;
  }
  .search {
    width: 90%;
  }
  .courseTabs {
  }
  .card {
    width: 35vw;
  }
  .payments {
    width: 100%;
  }
  .footer {
    grid-template-columns: 4fr 8fr;
  }
  .reviews {
    grid-template-columns: 1fr 1fr;
  }
  .review1 {
    margin: 0;
  }
}

@media all and (max-width: 1090px) {
  .payments {
    grid-template-columns: 1fr 1fr;
    /* margin-top: 196px; */
  }
  .price {
    gap: 3px;
  }
}

@media all and (max-width: 850px) {
  .container {
    width: 94%;
    /* background: red; */
  }
  header {
    display: flex;
    /* width: 90%; */
    justify-content: space-between;
  }
  header .hamburger {
    display: block;
  }
  header ul,
  .header-button {
    display: none;
  }
  .hero {
    margin-top: 70px;
  }
  .hero p {
    /* background: yellow; */
    width: 90%;
    font-size: 15.6px;
    justify-self: center;
  }
  .hero .first {
    font-size: 40px;
  }
  .hero .second {
    font-size: 32px;
  }
  .search-wrapper {
    display: block;
  }
  .search-wrapper button {
    margin: 12px 0 0 0;
  }
  .search-icon {
    top: 5px;
  }
  .course h1 {
    font-size: 24px;
  }
  .course .p {
    font-size: 18px;
    margin-left: 10px;
  }
  .courseTabs {
    width: 400px;
    /* background: red; */
    margin-left: 10px;
    overflow-x: scroll;
    justify-self: start;
  }
  .courseCards {
    margin-left: 10px;
  }
  .courseTabs::-webkit-scrollbar {
    display: none;
  }
  .courseTabs {
    scrollbar-width: none;
  }
  .card {
    width: 65vw;
  }
  .serve-container {
    margin-top: 130px;
  }
  .serve-container h1 {
    font-size: 24px;
  }
  .serve-container p {
    font-size: 18px;
  }
  .serve-container img {
    margin: 32px 0 0 0;
  }
  .serve-container .first {
    display: none;
  }
  .serve-container .second {
    display: block;
  }
  .testimonials {
    margin: 50px 0 50px 0;
  }
  .testimonials h1 {
    font-size: 24px;
  }
  .testimonials p {
    font-size: 18px;
  }
  .reviews {
    grid-template-columns: 1fr;
    height: 982px;
  }

  .plans p {
    font-size: 18px;
  }
  .plans h1 {
    font-size: 24px;
  }
  .payments {
    grid-template-columns: 1fr;
    /* margin-top: 136px; */
  }
  .plan {
    display: grid;
    justify-items: center;
  }
  .price {
    gap: 9px;
  }
  .transform {
    background: linear-gradient(135deg, #9333ea 0%, #4338ca 100%);
    margin-top: 76px;
    padding: 68px 0 68px 0;
  }
  .transform h1 {
    font-size: 24px;
  }
  .transform p {
    font-size: 18px;
  }

  .footer {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .footer-menu {
    flex-direction: column;
    justify-self: center;
    margin-top: 25px;
  }
  .footer .p1 {
    display: none;
  }
  .footer .p2 {
    display: block;
  }
}
