body {
  padding: 0;
  margin: 0;
  font-family: Inter;
  /* display: grid; */
  overflow-x: hidden;
}
.headerMain {
  border-bottom: 1px solid rgba(198, 210, 255, 0.3);
  /* background: red; */
  padding: 10px 0 10px 0;
}
.container {
  max-width: 1280px;
  justify-self: center;
  padding: 0 20px 0 20px;
}
header {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 6fr 1fr;
  align-items: center;
}
header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  justify-content: center;
  gap: 24px;
  font-weight: 500;
}
.dropdown {
  display: flex;
  align-items: center;
  gap: 4px;
}
header .hamburger {
  display: none;
}
.header-button {
  background: linear-gradient(90deg, #000000 0%, #404040 100%);
  color: white;
  font-weight: 500;
  border-radius: 60px;
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 5px 13px 5px 12px;
  justify-self: end;
  gap: 3px;
}

/* hero section  */
.hero {
  /* background: red; */
  width: 100%;
  display: grid;
  justify-items: center;
  margin-top: 120px;
  padding: 0;
}
.hero .first,
.hero .second {
  font-size: 60px;
  font-weight: 700;
  margin: 30px 0 0 0;
  padding: 0;
  text-align: center;
}
.hero p {
  font-weight: 400;
  font-size: 17.6px;
  text-align: center;
}

.hero .second {
  color: rgba(116, 1, 211, 1);
  margin: 0;
}
.hero button {
  background: linear-gradient(315deg, #3a3a3a 0%, #060606 100%);
  display: flex;
  align-items: center;
  gap: 3px;
  color: white;
  padding: 8px 13px 8px 12px;
  border-radius: 60px;
  margin-top: 7px;
}
.search {
  border: 6px solid rgba(251, 248, 255, 1);
  /* background: red; */
  width: 120%;
  margin-top: 110px;
  padding: 20px 20px 8px 20px;
  margin-bottom: 110px;
}
.search h2 {
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  padding: 0;
}
.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  /* background: red; */
  margin: 20px 0 20px 0;
}

.search-icon {
  position: absolute;
  left: 10px;
}

.search-input {
  background: rgba(244, 248, 251, 1);
  border: 1px solid rgba(238, 238, 238, 1);
  padding: 8px 13px 8px 12px;
  border-radius: 60px;
  font-size: 16px;
  width: 82%;
  padding-left: 42px;
}
.search-wrapper button {
  margin: 0 0 0 20px;
  justify-self: start;
}

.search .tabs {
  display: flex;
  column-gap: 10px;
  row-gap: 0px;
  margin: 0;
  padding: 0;
  align-items: center;
  flex-wrap: wrap;
}
.tabs .title {
  font-weight: bold;
  font-size: 16px;
  width: fit-content;
}
.tabs .tab {
  background: rgba(249, 249, 249, 1);
  padding: 8px 13px 8px 13px;
  border-radius: 60px;
  border: 1px solid rgba(238, 238, 238, 1);
  font-size: 14px;
  width: fit-content;
  margin: 3px;
}

/* Courses section  */
.course {
  margin-bottom: 130px;
}
.course h1,
.course p {
  text-align: center;
  margin: 0;
  padding: 0;
}
.course p {
  margin: 10px 0 0 0;
}
.course .container {
  justify-self: center;
  width: 100%;
  box-sizing: border-box;
}
.courseTabs {
  display: flex;
  justify-self: center;
  gap: 8px;
  width: 100%;
  margin: 60px 0 40px 0;
}

.courseCards {
  /* background: red; */
  display: flex;
  justify-content: space-between;
  gap: 10px;
  overflow-x: scroll;
  width: 100%;
}
.courseCards::-webkit-scrollbar {
  display: none;
}
.courseCards {
  scrollbar-width: none;
}

.courseTabs p {
  text-align: start;
  background: rgba(249, 249, 249, 1);
  padding: 8px 13px 8px 13px;
  border-radius: 60px;
  border: 1px solid rgba(238, 238, 238, 1);
  font-size: 14px;
  width: fit-content;
  margin: 3px;
  flex-shrink: 0;
}
.courseTabs .active {
  color: white;
  background: black;
}

.card {
  border-radius: 12px;
  border: 1px solid rgba(229, 229, 229, 1);
  flex-shrink: 0;
  width: 25vw;
}
.card .img1 {
  border-radius: 12px 12px 0 0;
  width: 100%;
}
.card-info {
  display: flex;
  align-items: center;
  gap: 6px;
  /* background: green; */
  margin: 15px 0 0 16px;
}
.card-info p {
  margin: 0;
  padding: 0;
}
.card .category {
  padding: 7px 12px 7px 12px;
  border-radius: 60px;
  background: rgba(243, 244, 246, 1);
  margin-left: 16px;
  width: fit-content;
}
.course-title {
  font-size: 16px;
  font-weight: 600;
  margin-left: 16px;
}
.course-info {
  color: rgba(75, 85, 99, 1);
  font-size: 14px;
  font-weight: 400;
  margin-left: 16px;
  text-align: left;
}

@media all and (max-width: 1300px) {
  .container {
    width: 96%;
  }
  header {
    grid-template-columns: 1fr 4fr 1fr;
  }
  .search {
    width: 90%;
  }
  .courseTabs {
  }
  .card {
    width: 35vw;
  }
}

@media all and (max-width: 850px) {
  .container {
    width: 94%;
    /* background: red; */
    padding: 0;
  }
  header {
    display: flex;
    /* width: 90%; */
    justify-content: space-between;
  }
  header .hamburger {
    display: block;
  }
  header ul,
  .header-button {
    display: none;
  }
  .hero {
    margin-top: 70px;
  }
  .hero p {
    /* background: yellow; */
    width: 90%;
    font-size: 15.6px;
    justify-self: center;
  }
  .hero .first {
    font-size: 40px;
  }
  .hero .second {
    font-size: 32px;
  }
  .search-wrapper {
    display: block;
  }
  .search-wrapper button {
    margin: 12px 0 0 0;
  }
  .search-icon {
    top: 5px;
  }
  .course h1 {
    font-size: 24px;
  }
  .course p {
    font-size: 15px;
  }
  .courseTabs {
    width: 400px;
    /* background: red; */
    margin-left: 10px;
    overflow-x: scroll;
    justify-self: start;
  }
  .courseCards {
    margin-left: 10px;
  }
  .courseTabs::-webkit-scrollbar {
    display: none;
  }
  .courseTabs {
    scrollbar-width: none;
  }
  .card {
    width: 65vw;
  }
}
